<h1> New Record</h1>
<form action="/package" method="post">
<table>
	<tr> <td> Name: </td> <td> <input type="text" name="packagename" required> </td> </tr>
	<tr> <td> Quantity: </td> <td> <input type="number" name="qtyincluded" required> </td> </tr>
	<tr> <td> Style: </td> <td> <input type="text" name="packagestyle" required> </td> </tr>

</table>
<button type="submit">Save</button>
</form>




