<h1> Details </h1>
<table>
	<tr> <td> ID: </td> <td> <%= onerec.package_id %> </td> </tr>
	<tr> <td> Name: </td> <td> <%= onerec.packagename %> </td> </tr>
	<tr> <td> Quantity: </td> <td> <%= onerec.qtyincluded %> </td> </tr>
	<tr> <td> Style: </td> <td> <%= onerec.packagestyle %> </td> </tr>
</table>

